::ng-deep .mat-dialog-container,
.mat-dialog-content {
    padding: 0 !important;
}

::ng-deep .mat-dialog-content,
.mat-dialog-title {
    margin: 0 !important;
}

.padding-left {
    padding: 8px;
}
p {
    margin: 0;
}
.font-weight-600 {
    font-weight: 600;
}
.full-width {
    width: 100%;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 8px;
    padding-right: 8px;
}
.mat-header-row {
    background-color: #add5ed !important;
}
.example-chip-list {
    width: 100%;
}
// .setremind ::ng-deep .mat-cell:nth-child(2),
// .mat-cell:nth-child(3),
// .mat-cell:nth-child(4) {
//     padding-bottom: 20px !important;
// }

// .notes ::ng-deep .mat-cell:nth-child(2),
// .mat-cell:nth-child(3),
// .mat-cell:nth-child(4) {
//     padding-bottom: 20px !important;
// }
.profile-img img {
    height: 40px;
    border-radius: 50%;
}
button.mat-menu-item {
    width: 100%;
    height: 30px;
    line-height: 0;
}
