.container {
    min-height: 100vh;
}
.padding {
    padding: 5%;
}
.padding-top {
    padding-top: 5%;
}
.heading {
    font-size: 50px;
}
.quotation {
    font-size: 18px;
}
.summary {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: transparent;
}
.mat-tab-label.mat-tab-label-active {
    // min-width: 150px !important;
    padding: 5px;
    background-color: transparent;
    color: #176391;
    font-weight: 700;
}
.mat-tab-label.mat-tab-label {
    // min-width: 150px !important;
    padding: 5px;
    background-color: transparent;
}
.mat-tab-label.mat-tab-label:hover {
    // min-width: 150px !important;
    padding: 5px;
    color: #176391;
}
.padding-left {
    padding-left: 10px;
}
.margin-remove {
    margin: 0 !important;
}
.summary-icon {
    font-size: 15px;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 15px;
    padding-right: 15px;
    // width: 10%;
}
.mat-header-row {
    background-color: #add5ed !important;
}
.quotation-list ::ng-deep {
    .mat-cell:nth-child(2) {
        width: 50%;
    }
    .mat-cell:nth-child(1),
    .mat-cell:nth-child(3),
    .mat-cell:nth-child(4),
    .mat-cell:nth-child(5),
    .mat-cell:nth-child(6),
    .mat-cell:nth-child(7) {
        width: 5%;
    }
}
.width-60 {
    width: 60%;
}
.width-80 {
    width: 80%;
}
.mat-headline,
p,
.mat-h3 {
    margin: 0;
}
.cardpadding {
    padding: 16px;
}
