.container {
    min-height: 100vh;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 8px;
    padding-right: 8px;
}
.mat-header-row {
    background-color: #add5ed !important;
}
.assign-image img {
    height: 35px;
    border-radius: 50%;
}
p {
    margin: 0;
}

// tr.mat-row,
// tr.mat-footer-row {
//     height: 80px;
// }

// .lead-list ::ng-deep {
//     .mat-cell:nth-child(1),
//     .mat-cell:nth-child(2),
//     .mat-cell:nth-child(4),
//     .mat-cell:nth-child(5),
//     .mat-cell:nth-child(6),
//     .mat-cell:nth-child(7),
//     .mat-cell:nth-child(8),
//     .mat-cell:nth-child(9),
//     .mat-cell:nth-child(10),
//     .mat-cell:nth-child(11),
//     .mat-cell:nth-child(12) {
//         padding-bottom: 40px !important;
//     }
// }

.half-width {
    max-width: 50%;
}
::ng-deep th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 10px;
}
.whatsapp {
    background: #25d366;
    color: white;
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 50%;
}
a {
    text-decoration: none;
}
.email {
    background: #96a2a8;
    border-radius: 50%;
    padding: 6px 6px;
    font-size: 14px;
}
.e-color {
    background: #dd4b39;
    color: white;
    /* background-color: #96a2a8; */
}
.l-color {
    background: #0077b5;
    color: white;
    /* background-color: #0077b5; */
}
.phone {
    background: #0077b5;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 14px;
}
button.mat-menu-item {
    width: 100%;
    height: 30px;
    line-height: 0;
}
