
.cardpadding {
    padding: 10px;
  
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
p {
    margin: 0;
}

.fa {
    font-size: 24px;
}
.padding-side {
    padding: 0 5px;
}

a {
    text-decoration: none;
    color: #000;
}
mat-icon {
    cursor: auto;
}
// CRS Dashboard
.color-hover:hover {
    color: #176391;
}
.full-padding {
    padding: 0px 2% 2% 2%;
}
.padding-top {
    padding-top: 40px;
  
}
.padding-top-icon {
    padding-top: 5px;
}
.full-width {
    min-width: 100%;
}
.matTooltip {
    font-size: 24px;
}
.p-nospaceAround {
    padding: 0px;
    margin: 0px;
}
.example-margin {
    margin: 0 10px;
}
.mat-card-width {
    width: 250px;
    max-width: 250px;
}
.normal-font {
    font-size: 13px;
}
.fa {
    font-size: 12px;
}
.mat-icon-resize {
    font-size: 20px;
}

/* remove animation and the dots*/
.mat-progress-bar-background {
    animation: none;
    background-color: #eceff1;
    fill: #eceff1;
}
.red-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #f53163;
    }
    .mat-progress-bar-buffer {
        background-color: #f53163;
    }
}
.red-color {
    color: #f53163;
}
.grey-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #787a7a;
    }
}
.grey-color {
    color: #787a7a;
}
.blue-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #3797bd;
    }
}
.blue-color {
    color: #3797bd;
}




mat-card{
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 1rem;
     box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
     0 1px 1px 0 rgba(0,0,0,1), 
     0 1px 3px 0 rgba(0,0,0,1) !important;
    // box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    // transform: translate3d(0,0,0);
    // transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
// .container {
//     min-height: 100vh;
//   }
  .container {
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .v-align-middle {
    vertical-align: middle;
  }

  mat-card:hover {
    background: rgb(243, 245, 255);
    box-shadow: rgb(45 55 72 / 12%) 0px 2px 4px;
}