.container {
    min-height: 100vh;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 8px;
    padding-right: 8px;
}
.mat-header-row {
    background-color: #add5ed !important;
}
.assign-image img {
    height: 35px;
    border-radius: 50%;
}
p {
    margin: 0;
}

// tr.mat-row,
// tr.mat-footer-row {
//     height: 80px;
// }

// .employee-list ::ng-deep {
//     .mat-cell:nth-child(1),
//     .mat-cell:nth-child(2),
//     .mat-cell:nth-child(4),
//     .mat-cell:nth-child(5),
//     .mat-cell:nth-child(6) {
//         padding-bottom: 50px !important;
//     }
// }

.half-width {
    max-width: 50%;
}
::ng-deep th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 10px;
}

a {
    text-decoration: none;
}

button.mat-menu-item {
    width: 100%;
    height: 30px;
    line-height: 0;
}
