mat-button-toggle-group {
    box-shadow: none;
}
::ng-deep .mat-button-toggle-label-content {
    line-height: 30px !important;
    padding: 0 10px !important;
}
.mat-title {
    margin: 0;
}
.cardpadding {
    padding: 10px;
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
p {
    margin: 0;
}

.fa {
    font-size: 24px;
}
.padding-side {
    padding: 0 5px;
}

a {
    text-decoration: none;
    color: #000;
}
mat-icon {
    cursor: auto;
}
// CRS Dashboard
.color-hover:hover {
    color: #176391;
}
.full-padding {
    padding: 0px 2% 2% 2%;
}
.padding-top {
    padding-top: 10px;
}
.padding-top-icon {
    padding-top: 5px;
}
.full-width {
    min-width: 100%;
}
.matTooltip {
    font-size: 24px;
}
.p-nospaceAround {
    padding: 0px;
    margin: 0px;
}
.example-margin {
    margin: 0 10px;
}
.mat-card-width {
    width: 250px;
    max-width: 250px;
}
.normal-font {
    font-size: 13px;
}
.fa {
    font-size: 12px;
}
.mat-icon-resize {
    font-size: 20px;
}

/* remove animation and the dots*/
.mat-progress-bar-background {
    animation: none;
    background-color: #eceff1;
    fill: #eceff1;
}
.red-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #f53163;
    }
    .mat-progress-bar-buffer {
        background-color: #f53163;
    }
}
.red-color {
    color: #f53163;
}
.grey-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #787a7a;
    }
}
.grey-color {
    color: #787a7a;
}
.blue-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #3797bd;
    }
}
.blue-color {
    color: #3797bd;
}
.green-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #a9c25b;
    }
}
.green-color {
    color: #a9c25b;
}
.orange-progress-bar {
    &.mat-progress-bar {
        height: 7px;
        border-radius: 20px;
    }
    .mat-progress-bar-fill::after {
        background-color: #dc5b21;
    }
}
.orange-color {
    color: #dc5b21;
}
.divider-width .mat-divider.mat-divider-vertical {
    height: 40px;
    border-right-width: 4px;
}
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: transparent;
}
.mat-tab-label.mat-tab-label-active {
    // min-width: 150px !important;
    padding: 5px;
    background-color: transparent;
    color: #176391;
    font-weight: 700;
}
.mat-tab-label.mat-tab-label {
    // min-width: 150px !important;
    padding: 5px;
    background-color: transparent;
}
.mat-tab-label.mat-tab-label:hover {
    // min-width: 150px !important;
    padding: 5px;
    color: #176391;
}
.padding-left {
    padding-left: 10px;
}
.mat-badge-content {
    background: rgb(75, 75, 75);
    color: white;
}
mat-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    margin-bottom: 1rem;   
}