.color-red {
    color: red;
}
.example-chip-list {
    width: 100%;
}
.selectOptions ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
    width: 250px;
}
.taxOptions ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
    padding-top: 2px;
}
.tableFormField ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.summaryFormField ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}
.add-button {
    height: 50px;
    line-height: 0;
}
.example-spacer {
    flex: 1 1 auto;
}
.example-radio-button {
    margin: 5px;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 15px;
    padding-right: 15px;
    // width: 10%;
}
.mat-header-row {
    background-color: #add5ed !important;
}
.table-icon {
    font-size: 15px;
    padding-top: 10px;
}
.summary-icon {
    font-size: 15px;
}
.qty-width {
    width: 50px;
    padding-top: 20px;
}
.rate {
    width: 70px;
}
.hr-fixed {
    position: absolute;
    // bottom: 0;
    right: 0;
    width: 600px;
    color: #176391;
    // border-top: 1px solid #176391;
    // border-bottom: 1px solid #176391;
}
.padding-top {
    padding-top: 2%;
}
.padding-summary {
    padding-top: 5%;
    padding-right: 5%;
}
.font-weight-600 {
    font-weight: 600;
}
// .ellips-line {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
// }
.quotation-list ::ng-deep {
    .mat-cell:nth-child(2) {
        width: 20%;
    }
    .mat-cell:nth-child(1),
    .mat-cell:nth-child(3),
    .mat-cell:nth-child(4),
    .mat-cell:nth-child(5),
    .mat-cell:nth-child(6),
    .mat-cell:nth-child(7) {
        width: 10%;
    }
}
