.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
.profile-img {
    height: 40px;
    border-radius: 50%;
}
// ::ng-deep .cdk-overlay-connected-position-bounding-box {
//     top: 64px !important;
// }
.notification-container {
    width: auto;
    height: calc(100vh - 100px);
    padding-top: 0px;
    padding-left: 0px;
}
.notification-containermobile {
    width: 320px;
    height: calc(100vh - 100px);
    padding-top: 18px;
}
button.mat-menu-item {
    width: 100%;
    height: 30px;
    line-height: 0;
}
.sidebar::ng-deep .mat-list-item-content {
    color: white !important;
}
.sidebar::ng-deep .mat-list-item-content:hover {
    background: white !important;
    color: black !important;
    border-radius: 20px 0 0 20px;
}
.padding-right-side {
    padding-right: 10px;
}
::ng-deep.mat-drawer-inner-container {
    width: 200px !important;
}
.sidebar .active-list-item ::ng-deep .mat-list-item-content {
    background: white !important;
    color: black !important;
    border-radius: 20px 0 0 20px;
}
.sidebar .active-list-item .contenttext mat-icon {
    color: black !important;
}
//Notificatios Line hover
.notificationline-hover:hover {
    color: #176391;
    text-decoration: underline;
}
.notificationtime {
    font-size: 12px !important;
}
p {
    margin: 0;
}
::ng-deep .mat-list-base {
    padding-top: 0 !important;
    padding-left: 10px !important;
}
// mat-sidenav:not(.mat-drawer-opened) {
//     transform: translate3d(0, 0, 0) !important;
//     visibility: visible !important;
//     width: 60px !important;
//     overflow: hidden;
// }
.close-sidenav {
    width: 61px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}
.open-sidenav {
    width: 199px;
}
@keyframes example {
    0% {
        left: 0px;
        right: 0px;
    }
    100% {
        left: 0px;
        right: 1990px;
    }
}
// mat-sidenav {
//     border-radius: 0px 20px 20px 0px;
// }
