.padding-left {
    padding: 8px;
}
p {
    margin: 0;
}
.full-width {
    width: 100%;
}
.example-chip-list {
    width: 100%;
}
.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.hoverable {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.hoverable:hover img {
    opacity: 0.4;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.hoverable:hover .middle {
    opacity: 1;
    cursor: pointer;
}
.display-none {
    display: none;
}

.margin-left{
    margin-top:10px;
    margin-left: 10px;
}