.container {
  min-height: 100vh;
}
p {
  margin: 0;
}
.font-weight-500 {
  font-weight: 500;
}

.font-uppercase {
  text-transform: uppercase;
}
.cardsize {
  height: 370px;
  max-height: 370px;
  width: 350px;
  max-width: 350px;
}
.full-width {
  width: 100%;
}
