.example-spacer {
    flex: 1 1 auto;
}
.container {
    min-height: 100vh;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 5px;
    padding-right: 5px;
}
.mat-header-row {
    background-color: #add5ed !important;
}
.assign-image img {
    height: 35px;
    border-radius: 50%;
}
p {
    margin: 0;
}

// tr.mat-row,
// tr.mat-footer-row {
//     height: 80px;
// }

.half-width {
    max-width: 50%;
}
::ng-deep th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 10px;
}
button.mat-menu-item {
    width: 350px;
    height: 30px;
    line-height: 0;
}
.selectOptions ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
    width: 100px;
    // max-height: 10px;
    text-align: center;
}
.searchText ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
}
button.mat-menu-item {
    width: 100%;
    height: 30px;
    line-height: 0;
}
