<div fxLayout="column" id="top">
    <div class="color-primary backgroud-color-white cardpadding ">
        <div fxLayout="row" fxLayoutAlign="space-between">

            <p class="mat-title">Quotation
            </p>
        </div>
    </div>
    <div class="cardpadding">
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="15px">
                <!-- new lead and import Quotation button -->
                <button mat-raised-button color="primary" (click)="addQuotation()">New Quotation</button>

                <!-- Search -->
                <div>
                    <mat-form-field appearance="outline" class="searchText form-field-font">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                        <!-- <span matPrefix>&nbsp;</span> -->
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>


            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource_new">

                    <!-- Proposal Column -->
                    <ng-container matColumnDef="proposal">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element">QUA- {{element.id}} </td>
                    </ng-container>

                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="action-button">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="viewQuotation(element)">
                                    View
                                </button>
                                <button mat-menu-item (click)="EditQuotation(element)">
                                    Edit
                                </button>
                                <button mat-menu-item  (click)="DeleteQuotation(element)">
                                    Delete
                                </button>
                            </mat-menu>
                        <td>
                    </ng-container>

                    <!-- Subject Column -->
                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef> Subject </th>
                        <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
                    </ng-container>

                    <!-- To Column -->
                    <ng-container matColumnDef="to">
                        <th mat-header-cell *matHeaderCellDef> To </th>
                        <td mat-cell *matCellDef="let element"> {{element.Toperson}} </td>
                    </ng-container>

                    <!-- Total Column -->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.Total | currency:'INR'}} </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date| date:'dd-MM-yyyy'}} </td>
                    </ng-container>

                    <!-- Open Till Column -->
                    <ng-container matColumnDef="opentill">
                        <th mat-header-cell *matHeaderCellDef> Open Till </th>
                        <td mat-cell *matCellDef="let element"> {{element.OpenTill|date:'dd-MM-yyyy'}} </td>
                    </ng-container>

                    <!-- Date Created Column -->
                    <ng-container matColumnDef="datecreated">
                        <th mat-header-cell *matHeaderCellDef> Date Created </th>
                        <td mat-cell *matCellDef="let element"> {{element.created_at| date:'dd-MM-yyyy'}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <p *ngIf="element.Status==='Declined'" class="color-danger">{{element.Status}}</p>
                            <p *ngIf="element.Status!='Declined'" >{{element.Status}}</p>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <mat-card *ngIf="isLoading" class="spinner" fxLayoutAlign="space-around center" >
                <mat-progress-spinner 
                  color="primary" 
                  mode="indeterminate"
                  diameter="50"
                  >
                </mat-progress-spinner>
              </mat-card>
        </div>

    </div>
</div>