::ng-deep .mat-dialog-container,
.mat-dialog-content {
    padding: 0 !important;
}

::ng-deep .mat-dialog-content,
.mat-dialog-title {
    margin: 0 !important;
}

.padding-left {
    padding: 8px;
}
p {
    margin: 0;
}
.full-width {
    width: 100%;
}
