
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$adminpanel-primary: mat-palette($mat-indigo);
$adminpanel-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$adminpanel-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$adminpanel-theme: mat-light-theme($adminpanel-primary, $adminpanel-accent, $adminpanel-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($adminpanel-theme);

@import "~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss";

@import "~@angular/material/theming";
@include mat-core();

$mat-primary: (
  100: #176391,
  contrast: (
    100: white,
  ),
);

$mat-accent: (
  100: #9ae6fb,
  contrast: (
    100: black,
  ),
);

$primary: mat-palette($mat-primary, 100, 100);
$accent: mat-palette($mat-accent, 100, 100);
$warn: mat-palette($mat-red);

$app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);

$custom-typography: mat-typography-config(
  $font-family: "Lato",
  $headline: mat-typography-level(26px, 44px, 600),
  $body-1: mat-typography-level(14px, 22px, 500),
);
@include mat-base-typography($custom-typography);
// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

@include mat-form-field-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
@include mat-datetimepicker-theme($app-theme);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat-core($custom-typography);
