@import "./custom-theme.scss";

html,
body {
    height: 100%;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
}

.backgroud-color-primary {
    background-color: mat-color($primary, 1);
}
.backgroud-color-accent {
    background-color: mat-color($accent);
}
.color-primary {
    color: mat-color($primary);
}
.color-accent {
    color: mat-color($accent);
}
.color-secondary {
    color: mat-color($mat-grey, 500);
}
.color-danger {
    color: mat-color($mat-red, 900);
}
.backgroud-color-white {
    background-color: $light-primary-text;
}
.background-color-grey {
    background-color: mat-color($mat-grey, 200);
}
.color-grey {
    color: mat-color($mat-grey, 400);
}
.color-white {
    color: $light-primary-text;
}
.cardpadding {
    padding: 16px;
}

.mat-chips {
    background: $light-primary-text !important;
    border: 1px solid mat-color($primary) !important;
    border-radius: 5px !important;
    outline-color: mat-color($primary) !important;
    color: mat-color($primary) !important;
    padding: 4px !important;
    min-height: 25px !important;
    font-size: 10px;
}
.cursor-pointer {
    cursor: pointer;
}
.tag-chips {
    background-color: mat-color($primary, 1) !important;
    color: $light-primary-text !important;
}
.chip-clear-color {
    color: $light-primary-text !important;
}
.form-field-font {
    font-size: 14px;
}

// @media (min-width: 480px) {
//     .mat-datetimepicker-calendar[mode="auto"] {
//         width: 620px !important;
//         height: 430px !important;
//     }
//     .mat-datetimepicker-calendar[mode="auto"] .mat-datetimepicker-calendar-header {
//         width: 150px !important;
//         min-width: 210px !important;
//     }
// }
// .mat-datetimepicker-calendar-table-header th,
// .mat-datetimepicker-calendar-body-cell-content,
// .mat-datetimepicker-calendar-period-button,
// .mat-datetimepicker-clock-cell {
//     font-size: 16px !important;
// }
.redNoMatch {
    background-color: mat-color($mat-green, 500) !important;
    color: $light-primary-text !important;
    text-align: center !important;
    position: absolute !important;
    top: 50px !important;
    right: 30% !important;

    .mat-simple-snackbar-action {
        color: $light-primary-text !important;
    }
}
.redNoMatch1 {
    background-color: mat-color($warn) !important;
    color: $light-primary-text !important;
    text-align: center !important;
    position: absolute !important;
    right: 30% !important;
    top: 50px !important;

    .mat-simple-snackbar-action {
        color: $light-primary-text !important;
    }
}
.redNoMatch2 {
    background-color: mat-color($mat-green, 500) !important;
    color: $light-primary-text !important;
    text-align: center !important;

    .mat-simple-snackbar-action {
        color: $light-primary-text !important;
    }
}
.text-primary-hover:hover {
    color: mat-color($primary);
    // text-decoration: underline;
    cursor: pointer;
}
.spinner{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
