<!-- Material Tab -->
<div fxLayout="column" class="full-padding padding-top" fxLayoutGap="20px">
 
<mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="32" >
  <mat-card-title>Templates</mat-card-title>
 
  <mat-card-content>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div   [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
            *ngFor="let image of data">
           
             <mat-card onMouseOver="this.style.backgroundColor='rgba(45, 47, 122, 0.24)'" onMouseOut="this.style.backgroundColor='#FFFFFF'" (click)="select(image)">
                <!-- <mat-card-header>
                        <mat-card-title>Mountains {{num}}</mat-card-title>
                      </mat-card-header> -->
                <img  mat-card-image  [src]="image.url"  alt="Free unsplash image">
                <mat-card-content fxLayout="column" fxLayoutAlign="center">
                  <p>
                    Awesome Summer
                  </p>
                </mat-card-content>
                <mat-card-actions>
                 <mat-icon mat-button [matMenuTriggerFor]="menu">more_horiz</mat-icon>

               
              <mat-menu #menu="matMenu" xPosition="after">
                  <button mat-menu-item>Preview</button>
              </mat-menu>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
    
  </mat-card-content>
  <mat-paginator [length]="data2.length"
  [pageSize]="size"
  [pageIndex]="page"
  [pageSizeOptions]="[4, 8, 12]"
  (page)="getData($event)">
</mat-paginator>
</mat-card>

</div>

<!-- /Material Tab -->