mat-toolbar {
  justify-content: space-between;
}
mat-card{
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
  0 1px 1px 0 rgba(0,0,0,1), 
  0 1px 3px 0 rgba(0,0,0,1) !important;
}
.content {
  padding: 16px;
}
.newone{
  width: 100%;
  border: solid 1px #e2e8f0;
  padding: 12px 40px 12px 12px;
  background: #ffffff;
  box-sizing: border-box;
  text-align: left;
  border-radius: 0 0 4px 4px;
}
.content > mat-card {
 
  margin-bottom: 16px;
}
.selected-card {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

img:hover {
  background-color: rgba(45, 47, 122, 0.24);
}
