p {
    margin: 0;
}
.display-none {
    display: none;
}
.half-width {
    width: 50%;
}
table {
    width: 100%;
}
.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    font-size: 13px;
    color: #176391;
    padding-left: 8px;
    padding-right: 8px;
}
.mat-header-row {
    background-color: #add5ed !important;
}
::ng-deep th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 10px;
}
